@model IEnumerable<TransactionViewModel>

<div class="row">

    <div class="col-md-6">

        <h2>Upload de arquivos</h2>

        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
            <div class="form-group">

                <div class="col-md-10">
                    <p>Faça o upload de um ou mais arquivos (extensão OFX):</p>
                    <input type="file" name="files" multiple style="width: 380px;">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <br />
                    <input type="submit" value="Upload">
                </div>
            </div>
        </form>
    </div>
</div>

<br />

@if (Model != null)
{<div class="row">
        <div style="background-color:gray;width:800px">
            <div style="color:white;margin-left:8px">
                @Model.Count()
                resultados obtidos
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="row">
        <div>
            <table border="1" width="800">
                <tr>
                    <th class="text-center">
                        Date

                    </th>
                    <th class="text-center">
                        Type
                    </th>
                    <th class="text-center">
                        Amount
                    </th>
                    <th class="text-center">
                        Description
                    </th>
                </tr>

                @foreach (TransactionViewModel item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.DatePosted)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.Type)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.Amount)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.Description)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
